

.buttonAppPrimary{
 text-decoration:none; text-align:center; 
 padding:9px 80px; 
 border:none; 
 -webkit-border-radius:21px;
 -moz-border-radius:21px; 
 border-radius: 21px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#ffbd4c; 
 background-image: -moz-linear-gradient(top, #ffbd4c 0%, #ffbc40 100%); 
 background-image: -webkit-linear-gradient(top, #ffbd4c 0%, #ffbc40 100%); 
 background-image: -o-linear-gradient(top, #ffbd4c 0%, #ffbc40 100%); 
 background-image: -ms-linear-gradient(top, #ffbd4c 0% ,#ffbc40 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc40', endColorstr='#ffbc40',GradientType=0 ); 
 background-image: linear-gradient(top, #ffbd4c 0% ,#ffbc40 100%);   
 -webkit-box-shadow:0px 0px -1px #bababa;  -moz-box-shadow: 0px 0px -1px #bababa;  box-shadow:0px 0px -1px #bababa;
}

.buttonAppPrimary:hover{
 padding:9px 80px; 
 border:none; 
 -webkit-border-radius:21px;
 -moz-border-radius:21px; 
 border-radius: 21px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#ff8a0c; 
 -webkit-box-shadow:0px 0px -1px #bababa;  -moz-box-shadow: 0px 0px -1px #bababa;  box-shadow:0px 0px -1px #bababa;  

}
 
.buttonAppPrimary:active{
 padding:9px 80px; 
 border:none; 
 -webkit-border-radius:21px;
 -moz-border-radius:21px; 
 border-radius: 21px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#e87800; 
 -webkit-box-shadow:0px 0px -1px #bababa;  -moz-box-shadow: 0px 0px -1px #bababa;  box-shadow:0px 0px -1px #bababa;  

}

.buttonAppSecondary{
 text-decoration:none; 
 text-align:center; 
 padding:9px 80px; 
 border:solid 1px #ff8a0c; 
 -webkit-border-radius:21px;
 -moz-border-radius:21px; 
 border-radius: 21px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ff8a0c; 
 background:#ffffff; 
 -webkit-box-shadow:0px 0px -1px #bababa;  -moz-box-shadow: 0px 0px -1px #bababa;  box-shadow:0px 0px -1px #bababa;  
}

.buttonAppSecondary:hover{
 padding:9px 80px; 
 border:solid 1px #f27d00; 
 -webkit-border-radius:21px;
 -moz-border-radius:21px; 
 border-radius: 21px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#f27d00; 
 background:#ffffff; 
 -webkit-box-shadow:0px 0px -1px #bababa;  -moz-box-shadow: 0px 0px -1px #bababa;  box-shadow:0px 0px -1px #bababa;  
  
}

.buttonAppSecondary:active{
 padding:9px 80px; 
 border:solid 1px #f27d00; 
 -webkit-border-radius:21px;
 -moz-border-radius:21px; 
 border-radius: 21px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#f27d00; 
 background:#ffffff; 
 -webkit-box-shadow:0px 0px -1px #bababa;  -moz-box-shadow: 0px 0px -1px #bababa;  box-shadow:0px 0px -1px #bababa;  
}




.buttonAppSearch{
 padding:10px 40px;
 border:none; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#689408; 
}

.buttonAppSearch:hover{
 padding:10px 40px;
 border:none; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#526f12; 
}

.buttonAppSearch:active{
 padding:10px 40px; 
 border:none; 
 -webkit-border-radius:50px;
 -moz-border-radius:50px; 
 border-radius: 50px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#526f12;
}

.icon-nav{
    height:20px;
    width:20px;
    background-color:transparent;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
}

.buttonAppAgregarCarrito {
    text-decoration: none;
    text-align: center;
    padding: 10px 61px;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font: 15px Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #2e2e2e;
    background: #fef190;
}

.buttonAppAgregarCarrito:hover {
    padding: 11px 61px;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font: 15px Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #2e2e2e;
    background: #ffed66;
}

    .buttonAppAgregarCarrito:active {
        padding: 11px 61px;
        border: solid 4px #ffbc40;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        font: 15px Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #2e2e2e;
        background: #ffed66;
    }

