@inherits LayoutComponentBase

<div class="page">
    <div class="position-fixed w-100" style="z-index:1;">
        <NavMenu></NavMenu>
    </div>
    <AppWebFurryFriendsHub.Client.Pages.Cart></AppWebFurryFriendsHub.Client.Pages.Cart>

    <main>
        <div class="content" style="padding-top:115px;">
            @Body
        </div>
    </main>
</div>

