@page "/noResultsMessage"

<div class="d-flex flex-column fs-1 justify-content-center align-items-center">
	<img class="img-fluid" style="width:200px; height:200px;" src="/images/linda.png" />
	<p> No hemos encontrado nada para tu búsqueda!</p>
</div>

