@page "/userLogin"
@inject IUserService userService
@inject NavigationManager Navigation

<h3>Inicar sesion</h3>

<EditForm Model="@user" OnValidSubmit="AuthenticationUser" >

	<DataAnnotationsValidator /> 
	<ValidationSummary class="text-danger" />

	<div class="mb-3">
		<label class="form-label" for="email" >Correo electrónico: </label>
		<InputText id="email" class="form-control" @bind-Value="user.Email" />
	</div>

	<div class="mb-3">
		<label class="form-label" for="password">Contraseña: </label>
		<InputText id="password"  type="password" class="form-control" @bind-Value="user.passwordHash" />
	</div>

	<input type="submit" class="btn btn-primary" value="Iniciar" />

</EditForm>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
	<div class="alert alert-danger">@ErrorMessage</div>
}

@code {
	private UserAuthDTO user = new UserAuthDTO();
	private string ErrorMessage;

	private async Task AuthenticationUser()
	{
		var AuthenticateUser = await userService.AuthenticateUser(user);

		if(AuthenticateUser == null)
		{
			ErrorMessage = "Credenciales Incorrectas";
		}
		else
		{
			Navigation.NavigateTo("/userList");
		}

	}
}
